<!-- appMonitor/password_reset_base.html -->
{% extends 'appMonitor/base.html' %}
{% load static %}

{% block title %}Restablecer Contraseña{% endblock %}

{% block styles %}
<style>
    .alert-container {
        position: fixed;
        bottom: 1%;
        right: 1%;
        transform: translateX(0%);
        z-index: 1000;
        width: 60%;
        max-width: 350px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9); /* Fondo semi-transparente */
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Sombra ligera */
    }
    
    body {
        margin: 0;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background: linear-gradient(135deg, #7cbeff1c, #ffffff);
        animation: water 4s infinite alternate;
    }
    @keyframes water {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 100% 100%;
        }
    }
    .curve {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ffffff;
        clip-path: ellipse(50% 30% at 50% 0);
        z-index: -1;
    }
    .reflections {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(45deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
        animation: reflections 4s infinite alternate;
    }
    @keyframes reflections {
        0% {
            background-position: 0% 0%;
        }
        100% {
            background-position: 100% 100%;
        }
    }
    @media (max-width: 767px) {
        .container {
            width: 90%;
        }
        .card {
            width: 100%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="curve"></div>
<div class="reflections"></div>
<main>
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10 col-10 d-flex flex-column align-items-center justify-content-center">
      
              <div class="card mb-3">
                <div class="pt-4 pt-1">
                  <a href="index.html" class="logo d-flex align-items-center justify-content-center">
                    <img src="{% static 'assets/img/logounl.png' %}" alt="" height="110" width="280">
                  </a>
                </div><!-- End Logo -->
                <div class="card-body">
                  <div class="pt-1 pb-2">
                  <h1>¡La contraseña ha sido cambiada!</h1>
                  <p><a href="{% url 'salir' %}">¿Ingresar de nuevo?</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
  {% endblock %}
  
  {% block scripts %}
  
  {% endblock %}
  