{% extends 'appMonitor/baseDashboard.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Temperatura
{% endblock %}

{% block styles %}
<style>
    body {
        background: linear-gradient(135deg, #ebeaea, #e0f7fa);
        margin: 0;
        font-family: 'Arial', sans-serif;
    }

    .container-sm {
        padding: 0 15px;
    }

    .table-responsive {
        margin-top: 20px;
        border: 1px solid #dcdcdc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background: #ffffff;
        padding: 15px;
        width: 100%; /* Añadido para asegurar que la tabla no se desborde */
        overflow-x: auto;
    }

    .table thead th {
        background: linear-gradient(135deg, #fcff40, #fdff80);
        color: #000000;
        text-align: center;
    }

    .table tbody tr:hover {
        background-color: #f1f1f1;
    }

    .badge-admin {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
    }

    #badge-success {
        background: linear-gradient(135deg, #28a745, #218838);
    }

    #badge-info {
        background: linear-gradient(135deg, #17a2b8, #117a8b);
    }

    .user-info {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .user-info img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
        border: 3px solid #57a0ee;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .user-info img:hover {
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    }

    .fw-bold {
        font-weight: bold;
    }

    .text-muted {
        color: #6c757d !important;
    }

    .carousel-item {
        transition: transform 0.5s ease, opacity 0.5s ease;
    }

    .carousel-control-prev,
    .carousel-control-next {
        width: 5%;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50%;
        background-size: 1em;
        background-repeat: no-repeat;
        background-position: center;
        width: 2em;
        height: 2em;
    }

    .carousel-control-prev-icon {
        background-image: url('../../../static/assets/img/caret-left-fill.svg');
    }

    .carousel-control-next-icon {
        background-image: url('../../../static/assets/img/caret-right-fill.svg');
    }

    .card-container {
        display: block;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        background: #ffffff;
        margin-bottom: 20px;
    }

    .chart-canvas {
        border: 2px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .text-black {
        color: #212529 !important;
    }

    .pagination .page-link {
        transition: background 0.3s ease, color 0.3s ease;
    }

    .pagination .page-item.active .page-link {
        background: linear-gradient(135deg, #007bff, #0056b3);
        border-color: #0056b3;
        color: #ffffff;
    }

    .pagination .page-link:hover {
        background: linear-gradient(135deg, #0056b3, #004080);
        color: #ffffff;
    }

    @media (max-width: 768px) {
        .table {
            font-size: 0.9rem;
        }

        .carousel-control-prev, .carousel-control-next {
            width: 10%;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container-sm h-100">
    <div class="row d-flex align-content-center justify-content-center">
        <!-- Columna del 70% -->
        <div class="col-md-12 rounded-2 py-4 bg-white">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-center mb-4">
                        Reporte de temperatura de Ganado Bovino Lechero
                    </h1>
                    <div id="carouselExampleControls" class="carousel slide mt-5" data-bs-ride="carousel" style="height: 30%;">
                        <div class="carousel-inner" style="height: 100%;">
                            {% for collar in collares %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}" data-id="{{ collar.idCollar }}" style="height: 100%;">
                                <!-- Contenido del carrusel -->
                                <div class="row d-flex justify-content-center align-items-center mx-5" style="height: 100%;">
                                    <div class="col-12" style="height: 100%;">
                                        <canvas id="myChart{{ collar.idCollar }}" class="chart-canvas rounded-3"  style="padding: 20px;"></canvas>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                    <div class="mt-1 d-flex justify-content-center align-items-center" style="height: 70%;">
                        <div class="col-12 col-lg-10">
                            <div id="tablaContainer" class="table-responsive">
                                <h4 class="text-center text-black">Tabla de temperaturas</h4>
                                <table class="table table-bordered table-striped" id="tablaReportes">
                                    <thead>
                                        <tr>
                                            <th>Collar</th>
                                            <th>Nombre</th>
                                            <th>Fecha de Lectura</th>
                                            <th>Temperatura</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for reporte in reportes %}
                                        <tr>
                                            <td>{{ reporte.id_Bovino.idCollar }}</td>
                                            <td>{{ reporte.id_Bovino.nombre }}</td>
                                            <td>{{ reporte.fecha_lectura|date:"d-m-Y" }}</td>
                                            <td>{{ reporte.id_Temperatura.valor }}</td>
                                        </tr>
                                        {% empty %}
                                        <tr>
                                            <td colspan="4" class="text-center">No hay reportes disponibles.</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <div class="mt-4">
                                <nav aria-label="Page navigation">
                                    <ul class="pagination justify-content-center">
                                        {% if reportes.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1">&laquo; Primera</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ reportes.previous_page_number }}">Anterior</a>
                                        </li>
                                        {% endif %}
                                        <li class="page-item disabled">
                                            <span class="page-link">
                                                Página {{ reportes.number }} de {{ reportes.paginator.num_pages }}.
                                            </span>
                                        </li>
                                        {% if reportes.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ reportes.next_page_number }}">Próximo</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ reportes.paginator.num_pages }}">Último &raquo;</a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
$(document).ready(function() {
    function actualizarDatos(idCollar) {
        console.log('ID del collar: ' + idCollar);

        $.ajax({
            url: "/monitor/datos/" + idCollar + "/",   // Esta URL se resolverá a /monitor/datos/
            dataType: 'json',
            success: function(data) {
                var collares = data.collar_info;
                
                var registros = data.ultimos_registros;
                var ctx = document.getElementById('myChart' + idCollar).getContext('2d');
                var labels = registros.map(function(item) {
                    return item.fecha_registro;
                });
                var temperaturas = registros.map(function(item) {
                    return item.temperatura;
                });

                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: labels,
                        datasets: [{
                            label: 'Temperatura',
                            data: temperaturas,
                            backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            borderColor: 'rgba(255, 205, 86, 1)',
                            borderWidth: 2
                        }]
                    },
                    options: {
                        responsive: true,
                        maintainAspectRatio: false,
                        plugins: {
                            legend: {
                                display: true,
                                font: {
                                    size: 10
                                },
                                labels: {
                                    color: 'rgba(0, 0, 0, 0.8)'
                                }
                            },
                            title: {
                                display: true,
                                text: 'Temperatura del collar ' + collares.nombre,
                                font: {
                                    size: 20
                                },
                                color: 'rgba(0, 0, 0, 0.8)'
                            }
                        },
                        scales: {
                            y: {
                                beginAtZero: true,
                                ticks: {
                                    color: 'rgba(0, 0, 0, 0.8)'
                                }
                            },
                            x: {
                                ticks: {
                                    color: 'rgba(0, 0, 0, 0.8)',
                                    callback: function(value, index, values) {
                                        // Trunca los labels a 10 caracteres
                                        if (value.length > 10) {
                                            return value.substr(0, 10) + '...';
                                        } else {
                                            return value;
                                        }
                                    }
                                }
                            }
                        }
                    }
                });
            }
        });
    }

    $('#carouselExampleControls').on('slid.bs.carousel', function (e) {
        var activeItem = $(e.relatedTarget);
        var idCollar = activeItem.data('id');
        actualizarDatos(idCollar);
    });

    var firstItem = $('.carousel-item.active');
    var firstIdCollar = firstItem.data('id');
    actualizarDatos(firstIdCollar);

    setInterval(function() {
        var activeItem = $('.carousel-item.active');
        var idCollar = activeItem.data('id');
        actualizarDatos(idCollar);
    }, 5000);
});
</script>
{% endblock %}
