{% extends 'Usuario/base.html' %} {% load static %} {% block contenido %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col">
      <div class="titulo-amarillo text-center">
        <h1>Gestión de Usuarios</h1>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-md-10">
      <div id="tablaContainer" class="table-responsive">
        <table class="table table-bordered">
          <thead class="table-dark">
            <tr>
              <th>Nombres</th>
              <th>Email</th>
              <th>Cédula</th>
              <th>Teléfono</th>
              <th>Administrador</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for usuario in usuarios.values %}
            <tr>
              <td>{{ usuario.nombre }} {{ usuario.apellido }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.cedula }}</td>
              <td>{{ usuario.telefono }}</td> 
              <td class="text-center">
                {% if usuario.is_staff %}
                    <div style="width: 20px; height: 20px; border-radius: 50%; background-color: green; display: inline-block;"></div>
                {% else %}
                    <span style="width: 20px; height: 20px; border-radius: 50%; background-color: red; display: inline-block;"></div>
                {% endif %}
            </td>
              <td class="d-flex justify-content-center">
                  <!-- Mostrar botón de editar solo si 'id' está presente -->
                  {% if usuario.id %}
                  <a href="{% url 'editar_usuario' usuario.userId %}" class="btn btn-warning mx-2" style="width:100px">Editar</a>
              {% endif %}
              <!-- Mostrar botón de activar/desactivar según 'activo' -->
              {% if usuario.userId %}
                  {% if usuario.activo %}
                      <a href="{% url 'changeState' usuario.userId %}" class="btn btn-danger mx-2" style="width:100px">Desactivar</a>
                  {% else %}
                      <a href="{% url 'changeState' usuario.userId %}" class="btn btn-success mx-2" style="width:100px">Activar</a>
                  {% endif %}
              {% endif %}
               
              </td>
            
            
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% if messages %}
<div id="alert-container" class="alert-container">

  {% for message in messages %}
  {% if message.tags == 'error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  
    {% endif %}
    {% if message.tags == 'success' %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>  
    {% endif %}
    
  {% endfor %}
</div>
<script>
  // Mostrar la alerta flotante cuando hay mensajes
  window.onload = function() {
    mostrarAlerta();
  };

  function mostrarAlerta() {
    var alertContainer = document.getElementById('alert-container');
    alertContainer.style.display = 'block';
    setTimeout(function() {
      alertContainer.style.display = 'none';
    }, 5000); // Ocultar después de 5 segundos
  }
</script>
<style>
  .alert-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    z-index: 1000;
    display: none; /* Oculto por defecto */
  }
</style>
{% endif %}



{% endblock %}